{{#each this}}<div class="card">
    <h2 class="name-country">{{name}}</h2>
    <div class="card-list">
        <div class="country-info">
            <p class="capital-country">Capital: {{capital}}</p>
            <p class="population-country">Population: {{population}}</p>
            <p class="languages-country">Languages:
            <ul>
                {{#each languages}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
            </p>
        </div>
        <div class="img-country">
            <img src="{{flag}}" alt="{{name}}" width="300" height="260">
        </div>
    </div>

</div>{{/each}}